:root {
	--rindex-color: #ffffff;
}
body, p, table {
	font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
	font-size: 14px;
}

div.panel {
	margin-top: 10px;
	padding: 5px;
	border: 2px solid #666;
	background: #eee;
	float: left;
}

div.panel p {
	font-weight: bold;
	margin: 5px 0 5px 0;
	padding-right: 5px;
}

div.panel hr {
	border: 0;
  	height: 1px;
    background: #333;
    margin: 0 0 10px 0;
}

.slideranno {
	float: left;
}

.slider {
	float: left;
}

.refraction-glass {
	display: none;
}

td {
	padding: 3px 0 3px 0;
}

input[type=range] {
	-webkit-appearance: none;
	background: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 8px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	margin: -7px;
}

#rindex::-webkit-slider-thumb {
	background: var(--rindex-color);
}

#gindex::-webkit-slider-thumb {
	background: #00ff00;
}

#bindex::-webkit-slider-thumb {
	background: #0000ff;
}

#rindex::-moz-range-thumb {
	background: var(--rindex-color);
}

#gindex::-moz-range-thumb {
	background: #00ff00;
}

#bindex::-moz-range-thumb {
	background: #0000ff;
}

#rindex::-ms-thumb {
	background: var(--rindex-color);
}

#gindex::-ms-thumb {
	background: #00ff00;
}

#bindex::-ms-thumb {
	background: #0000ff;
}

input[type=range]::-moz-range-thumb {
	height: 16px;
	width: 8px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
	height: 16px;
	width: 8px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  margin-top: 10px;
  padding-left: 5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
