*
!js
!shaders
!css
!milestone_presentation
!final_presentation
!*.odp
!*.pptx
!.gitignore
!.gitattributes
!*.js
!*.html
!*.css
!README
!*.txt
!assets
!assets/cubemap
!assets/skybox
!assets/skybox/mountain
!assets/skybox/mp_goldrush
!*.png
!*.jpg
